<div class="upload-section">
    <nz-upload
      nzType="drag"
      [nzMultiple]="true"
      [nzBeforeUpload]="beforeUpload"
      (nzChange)="handleChange($event)"
      class="upload-box">
      <p class="ant-upload-drag-icon">
        <i nz-icon nzType="inbox"></i>
      </p>
      <p class="ant-upload-text">Click or drag your videos or photos to this area to upload</p>
      <p class="ant-upload-hint">
        Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files
      </p>
    </nz-upload>
    <button nz-button nzType="primary" (click)="handleUpload()" [disabled]="uploading">Upload</button>
    <nz-spin [nzSpinning]="uploading"></nz-spin>
    <!-- if there are files in the fileList and not uploading, show the input and button -->
    <div *ngIf="fileList.length > 0 && !uploading">
      <input nz-input [(ngModel)]="uploadTitle" placeholder="Please Enter a Title">
      <button nz-button nzType="primary" (click)="handleUpload()">Confirm</button>
    </div>

    <ul>
      <li *ngFor="let file of fileList">{{ file.name }}</li>
    </ul>
</div>
