<div style="padding: 10px 10%">
  <div class="song-info">
    <img
      style="width: 60%; height: 450px"
      src="../../../../assets/images/game.png"
    />
    <div class="song-info-basic">
      <div class="title">
        {{ movieInfo.Name }}
      </div>
      <h2 style="margin-top: 20px; border-bottom: 1px solid #999"></h2>
      <div class="detail-item-title">Developer:</div>
      <div>{{ movieInfo.Developer }}</div>
      <div class="detail-item-title">Release Date:</div>
      <div>{{ movieInfo["Release Date"] }}</div>
      <div class="detail-item-title">Metascore:</div>
      <div>{{ movieInfo.Metascore || 0 }}</div>
      <h2
        style="
          margin-top: 20px;
          border-bottom: 1px dashed var(--ant-primary-color);
        "
      ></h2>
      <button
        nz-button
        nzType="dashed"
        style="width: 100%"
        routerLink="/layout/list"
      >
        < Back To
      </button>
    </div>
  </div>
  <h2 style="margin-top: 20px; border-bottom: 1px solid #eee">Details</h2>
  <nz-descriptions nzTitle="">
    <nz-descriptions-item nzTitle="Distributer">{{
      movieInfo.Distributer || "--"
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Developer">{{
      movieInfo.Developer || "--"
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Release Date">{{
      movieInfo["Release Date"] || "--"
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Genres">{{
      movieInfo.Genres || "--"
    }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Awards">{{
      movieInfo.Awards || "--"
    }}</nz-descriptions-item>
  </nz-descriptions>
  <h2 style="margin-top: 40px; border-bottom: 1px solid #eee">All Platforms</h2>
  <nz-card nzTitle="Also on" *ngIf="movieInfo['Also On']; else elseBlock">
    <div
      nz-card-grid
      *ngFor="let item of movieInfo['Also On'].split(',')"
      style="font-weight: bold"
    >
      {{ item }}
    </div>
  </nz-card>
  <ng-template #elseBlock>
    <nz-empty nzNotFoundImage="simple"></nz-empty>
  </ng-template>
  <h2 style="margin-top: 40px; border-bottom: 1px solid #eee">Shared medias</h2>
  <app-my-upload [filterCriteria]="movieInfo.Name"></app-my-upload>

</div>

